@model List<ResultCarWithBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Lists</h4>
                        <p class="card-subtitle mb-4">
                            Adding, deleting, updating, searhcing or listing cars
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Transmission</th>
                                        <th>Km</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Details</th>
                                        <th>Check on the website</th>
                                        <th>Billing Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;

                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.BrandName</td>
                                            <td>@item.Model</td>
                                            <td>@item.Transmission</td>
                                            <td>@item.Km</td>
                                            <td><a asp-action="RemoveCar" asp-controller="AdminCar" asp-route-id="@item.CarID" class="btn btn-outline-danger">Remove</a></td>
                                            <td><a asp-action="UpdateCar" asp-controller="AdminCar" asp-route-id="@item.CarID" class="btn btn-outline-success">Update</a></td>
                                            <td><a asp-action="Details" asp-controller="AdminCar" asp-route-id="@item.CarID" class="btn btn-outline-dark">Details</a></td>
                                            <td><a asp-action="Details" asp-controller="AdminCar" asp-route-id="@item.CarID" class="btn btn-outline-warning">Check on the website</a></td>
                                            <td><a asp-action="Details" asp-controller="AdminCar" asp-route-id="@item.CarID" class="btn btn-outline-secondary">Billing Information</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a asp-action="CreateCar" asp-controller="AdminCar" class="btn btn-outline-primary">Create New Car</a></td>

                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

